// Masthead
//
// Full-width black header with site name and navigation

.masthead {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 1.5rem 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.masthead-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.masthead-title-container {
  
  .title {
    color: rgb(255, 255, 255);
    font-family: "Schibsted Grotesk:SemiBold", sans-serif;
    font-weight: 510;
    font-size: 22px;
    font-variation-settings: normal;
    letter-spacing: -0.44px;
    line-height: 28.6px;
    margin: 0;
    text-align: left;
    text-size-adjust: 100%;
    white-space: nowrap;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    box-sizing: border-box;
    text-decoration-line: none;
    text-decoration-style: unset;
    text-decoration-thickness: 0;
  }

  .subtitle {
    color: rgb(171, 171, 171);
    font-family: "Schibsted Grotesk:Regular", sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-variation-settings: normal;
    letter-spacing: -0.48px;
    line-height: 31.2px;
    margin: 0;
    text-align: left;
    text-size-adjust: 100%;
    white-space: nowrap;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    box-sizing: border-box;
  }
}

// Navbar styles
.nav {
  // Move it to the top of the box
  margin-top: 0;
  display: flex;
  gap: 2rem;
  
  a {
    font-family: "Schibsted Grotesk:SemiBold", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-variation-settings: normal;
    letter-spacing: -0.44px;
    line-height: 28.6px;
    margin: 0;
    text-align: left;
    text-size-adjust: 100%;
    white-space: nowrap;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    box-sizing: border-box;
    text-decoration-line: none;
    text-decoration-style: unset;
    text-decoration-thickness: 0;
    color: #fff;
    
    
    &:hover {
      opacity: 0.8;
    }
  }
}
